/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-color: #131313;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'akira_expandedsuper_bold';
  src: url('akira_expanded_demo-webfont.woff2') format('woff2'),
    url('akira_expanded_demo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lord_of_the_ringregular';
  src: url('lord_of_the_ring-webfont.woff2') format('woff2'),
       url('lord_of_the_ring-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.container {
  display: flex;
}

.left-column {
  flex: 1;
  min-width: 33.33%;
  height: 100vh;
  background-image: url('images/ivana-cajina-T9YfR-xHjBs-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
  border-left: dashed #d7d7d7 15px;
  z-index: 2;
}

.logo{
  color: #4CAF50;
  font-size: clamp(24px, 16.2vw, 235px);
  font-family: 'lord_of_the_ringregular', Courier, Arial, sans-serif;
  padding-left: 5px;
  padding-top: 15px;
  z-index: 2;
}

.right-column {
  flex: 2;
  min-width: 66.67%;
  height: 100vh;
  flex-direction: column;
}

.right-column-top {
  height: 33%;
  background-image: url('images/noise.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  max-width: 100%;
  word-wrap: break-word;
  z-index: 1;
}

.right-column-bottom {
  height: 25%;
  box-sizing: border-box;
  background-image: url('images/noise.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  max-width: 100%;
  word-wrap: break-word;
  z-index: 1;
  border-bottom: dashed #d7d7d7 15px;
}

.top-slogan {
  font-family: 'akira_expandedsuper_bold', Arial, courier, sans-serif;
  font-size: clamp(20px, 2.4vw, 40px);
  color: #d7d7d7;
  text-shadow: 2px 2px 0px black;
  padding-left: 20px;
  padding-right: 5px;
  padding-top: 9px;
  z-index: 3;
}

.bottom-slogan {
  font-family: 'akira_expandedsuper_bold', Arial, sans-serif;
  font-size: clamp(16px, 20, 24px);
  color: #d7d7d7;
  text-shadow: 2px 2px 0px black;
  margin-left: 10px;
  position: relative;
  top: 20px;
}

.right-column-middle {
  height: 42%;
  background-color: #ca522d;
  font-family: Courier, Arial, sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  border-left: solid 10px black;
  border-bottom: solid 10px black;
  padding-left: 5px;
  padding-top: 10px;
}

#error-message{
  font-size: 14px;
  padding-top: 5px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: #f7f7f7;
  margin-top: 20px;
  margin-left: 10px;
  font-family: Courier, Arial, sans-serif;
  font-size: 16px;
  border: solid 5px #f7f7f7;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background-color: #3a883d;
}

input[type="submit"]:active {
  background-color: red;
  transform: translateY(3px);
}

label {
  display: inline-block;
  width: 100px;
  vertical-align: middle;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  display: inline-block;
  padding: 10px;
  border: 4px inset black;
  width: 250px;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
input[type="password"]:hover {
  background-color: #e8e8e8;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
  background-color: #e7e7e7;
  border-radius: 0;
  outline: 2px solid #4CAF50;
}

fieldset, legend {
  padding: 7px;
}


@media (max-width: 1280px) {

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"] {
    padding: 8px;
    width: 180px;
  }
}


@media (max-width: 1024px) {

  fieldset, legend {
    padding: 0px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"] {
    padding: 6px;
    width: 130px;
  }

  .top-slogan {
    padding-top: 5px;
  }
}

@media (max-width: 768px) {
  fieldset, legend {
    padding: 0px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"] {
    padding: 5px;
    width: 80px;
  }

  .top-slogan {
    padding-top: 5px;
  }
}